@font-face {
    font-family: 'LibelSuitRegular';
    src: url('../fonts/libel/libelsuit-webfont.eot');
    src: url('../fonts/libel/libelsuit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/libel/libelsuit-webfont.woff') format('woff'), url('../fonts/libel/libelsuit-webfont.ttf') format('truetype'), url('../fonts/libel/libelsuit-webfont.svg#LibelSuitRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#LibelSuitRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    background: #EBEBEB;
    margin: 0;
}

h1 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 32px;
    position: relative;
    color: gray;
    margin-left: 20px;
}

h2 {
    font-family: LibelSuitRegular, Arial, sans-serif;
    font-size: 32px;
    position: relative;
    color: #e1a836;
    margin-left: 60px;
}

#headerArea {
    background: #a4bec1;
    color: #E4F0F5;
    padding: 10px;
}

#headerArea li a {
    color: #E4F0F5;
    line-height: 55px;
}

#headerArea li a:hover {
    color: #7D9399;
    font-weight: 600;
}

#mainArea {
    margin-top: 35px;
    padding: 10px;
}

.pageContent {
    margin: 0 auto;
    padding: 0;
    width: 1050px;
}

.purpleBackground {
    background: #5068AB;
    color: #E9F2F1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.purpleBackground h1 {
    color: #E9F2F1;
}

.purpleBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.purpleBackground ul {
    list-style: none;
}

.purpleBackground ul li {
    margin-left: -20px;
}

.piText {
    color: #e1a836;
    margin-left: 50px;
}

.yellowBackground {
    background: #dada4d;
    color: #525468;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.yellowBackground h1 {
    color: #525468;
}

.yellowBackground p.even {
    padding: 20px;
    background-color: rgba(122, 125, 160, 0.43);
}

.yellowBackground ul {
    list-style: none;
}

.yellowBackground ul li {
    margin-left: -20px;
}

.infobox {
    background: #dbdbdb;
    font-size: 12px;
}

.infobox h1 {
    font-size: 28px;
}

.tenMarginGap {
    margin-top: 10px;
}

.headerButton {
    width: 200px;
    margin-bottom: 5px;
}

.fivePxMarginTop {
    margin-top: 5px;
}

.editKeyArea {
    width: 100%;
    height: 350px;
}

.listTextWidth {
    min-width:30px; width: auto !important; width: 30px;
}

div.loginBox {
    color: #000000;
    background: #f1f1f1;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
}

div.loginBox h1 {
    margin-bottom: 20px;
    text-align: center;
}